<h1>Return a Bike</h1>

<%= form_tag url_for(controller: 'rentals', action: 'bike_return'), method: :post do %>
  <%= label_tag :identifier, "Enter ID" %>
  <%= text_field_tag :identifier %>
  <%= submit_tag "Submit ID", name: "submit_id" %>

  <%= label_tag :name, "Enter Station Name" %>
  <%= text_field_tag :name %>
  <%= submit_tag "Submit Name", name: "submit_name" %>

  <%= label_tag :name, "Select Station" %>
  <%= select_tag :name, options_from_collection_for_select(@stations, :name) %>
  <%= submit_tag "Submit Station", name: "submit_station" %>
<% end %>